@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
:root {
	font-family: 'IBM Plex Mono';

	color-scheme: light dark;
	text-align: center;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--black: #222232;
	--white: #f0f0e0;
}

body {
	margin: 0;

	width: 100vw;
	height: 100vh;

	background-color: var(--black);
}

#flashcard {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
